<?xml version="1.0" encoding="UTF-8"?>
<liblub>
	<Config>
		<Int name="Vsync" value="1" />
		<String name="shaderDir" value="media/shaders/" />
		<String name="textureDir" value="media/textures/" />
		<String name="sceneDir" value="media/scenes/" />
		<String name="meshDir" value="media/meshes/" />
		<String name="templateDir" value="templates/" />
		<String name="suffixes" value="_RT, _LF, _DN,_UP, _FR, _BK" />
		<Float name="backgroundColor" value="0.0,0.0,0.0" />
		<Float name="FPS_INTERVAL" value="1.0" />
		<Int name="GLcontext" value="4,1" />
		<Int name="maxBuffers" value="6" />
	</Config>
</liblub>
